@import url(https://fonts.googleapis.com/css?family=Special+Gothic+Expanded+One:regular);
@import url(https://fonts.googleapis.com/css?family=Bitter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: linear-gradient(185deg, #e0c56b, #dfa03b);
}

body p {
  color: #333;
  margin-top: 16px;
}
a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h1 {
  font-family: Bitter, serif;
  font-size: 48px;
  color: #cb7e25;
  align-self: center;
}

/* Menu */
.navbar {
  background: #1a0e0a;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 16px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition:
    padding 0.3s ease,
    background 0.3s ease,
    box-shadow 0.3s ease;
  transform-origin: top;
}

.navbar.shrink {
  padding: 8px 0;
}

.navbar.shrink .logo img {
  height: 42px;
}

.navbar.shrink .main-menu ul {
  gap: 24px;
}

.navbar.shrink .main-menu a {
  font-size: 15px;
  padding: 2px 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  flex-wrap: nowrap;
}

.hamburger {
  color: #c3c3c3;
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.logo img {
  height: 50px;
  width: auto;
  display: block;
  margin-left: 50px;
  filter: drop-shadow(0 5px 10px rgb(255, 255, 255));
  transition:
    height 0.3s ease,
    transform 0.3s ease;
}

.main-menu {
  transition: all 0.3s ease;
}

.main-menu ul {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-right: 80px;
  padding: 0;
  transition:
    gap 0.3s ease,
    transform 0.3s ease;
}

.main-menu a {
  position: relative;
  font-weight: 500;
  padding: 5px 0;
  color: #c3c3c3;
}

.main-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: #6f6f6f;
  transition: width 0.3s ease;
}

.main-menu a:hover::after {
  width: 100%;
}

/* Home page*/

#everything-holder {
  min-height: 100vh;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 15px;
  background-color: transparent;
}

.hero-slider {
  position: relative;
  font-family: "Montserrat";
  width: 100%;
  max-width: 1200px;
  margin: 100px auto 30px auto;
  padding: 30px 0px 30px;
  height: 580px;
  background-color: rgb(255, 237, 212);
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  min-height: 400px;
  overflow: hidden;
}

.hero-slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: -120px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* visible slide */
.slide.active {
  opacity: 1;
  animation: slowZoom 7.3s ease-in-out;
}

@keyframes slowZoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}

#HomeTitleCont {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -80%);
  background-color: #1a16139e;
  border: 5px #ffffffc6 solid;
  mix-blend-mode: normal;
  height: 220px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  padding: 0;
}

.side-card {
  position: fixed;
  top: 12%;
  right: 2%;
  width: 300px;
  height: 90%;
  background-color: #ffe9d6;
  border-radius: 16px;
  transition: transform 0.35s ease;
  z-index: 10;
  overflow: hidden;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  font-size: 32px;
  color: rgba(255, 255, 255, 0.8);

  animation: arrowNudge 1.5s infinite ease-in-out;
}

/* Position arrows */
.left .arrow {
  right: 20px;
  color: #e1c15a;
}

.right .arrow {
  left: 20px;
  color: #e1c15a;
}

.side-card:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.453);
}

/* Left rectangle starts mostly hidden */
.side-card.left {
  left: 0;
  transform: translateX(-75%);
}

/* Right rectangle starts mostly hidden */
.side-card.right {
  right: 0;
  transform: translateX(75%);
}

/* On hover, it peeks in more */
.side-card.left:hover {
  transform: translateX(-15%);
}

.side-card.right:hover {
  transform: translateX(15%);
}

.side-card img {
  position: absolute;
  object-fit: cover;
  top: 18%;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.side-card-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  /* background-color: #5b436edd; */
  /* background-color: #6a4b63dd; */
  background-color: #1a0e0add;
  cursor: pointer;
}

.side-card-handle.left {
  transform: translateX(320%);
}

.side-card-handle.right {
  transform: translateX(-20%);
}

.side-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);

  font-family: monserrat, sans-serif;
  font-size: 62px;
  font-weight: bold;
  letter-spacing: 6px;
  white-space: nowrap;

  cursor: pointer;
}

.side-title.left {
  color: #184b0a;
  text-shadow:
    0 0 5px #9ae06c,
    0 0 10px #b2f485,
    0 0 20px #9ae06c,
    0 0 40px #9ae06c;

  left: -20px;
}

.side-title.right {
  left: auto;
  right: -20px;
  transform: translateY(-50%) rotate(90deg);
}

.Main-Title {
  font-family: Special Gothic Expanded One;
  font-size: 72px;
  color: #f8f4f3;
  mix-blend-mode: normal;
  letter-spacing: 16px;
  line-height: 90px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.container .overIMG {
  color: #e69123;
  mix-blend-mode: screen;
}

/* This affects all other pages except the home page */
#main-content {
  font-family: "Montserrat";
  width: 100%;
  max-width: 1100px;
  margin: 90px auto;
  padding: 30px 30px;
  height: 1000px;
  background-color: rgb(255, 237, 212);
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  min-height: 400px;
}

.main-content h1 {
  margin-top: 200px;
}

/* Hate Me Page */

.comic-description {
  font-size: 18px;
  justify-content: space-between;
  color: #52544f;
  margin: 20px 70px 30px 40px;
  line-height: 1.6;
}

.hateme-language-choose {
  font-size: 18px;
  justify-content: space-between;
  color: #52544f;
  margin: 50px 70px 30px 40px;
  line-height: 1.6;
}

.comic-language {
  background-color: #e8d18c;
  border-radius: 10px;
  padding: 5px 0;
}

.comic-language img {
  width: 350px;
  height: auto;
  margin: 20px 70px 120px 80px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(14, 24, 5, 0.5);
}

/*About Me Page*/
.about-content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.about-content img {
  width: 400px;
  height: auto;
  max-width: 100%;
  margin-left: 50px;
}

.about-content p {
  font-size: 18px;
  margin-right: 50px;
}

/* Responsive Design */
@media (max-width: 700px) {
  .body {
    width: 100vw;
  }
  .navbar .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-menu ul {
    gap: 24px;
    flex-wrap: wrap;
  }

  .navbar {
    padding: 12px 0;
  }

  .navbar .container {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    display: flex;
  }

  .hamburger {
    display: block;
    align-self: center;
    margin-right: 20px;
    order: 2;
  }

  .main-menu {
    width: 100%;
    display: none;
    order: 3;
    position: fixed;
    top: 70px;
    left: 0;
    background: rgba(29, 19, 16, 0.812);
    z-index: 999;
  }

  .main-menu.active {
    display: block;
  }

  .main-menu ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    margin: 0;
    padding: 10px 0;
    position: static;
  }

  .main-menu li {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
  }

  .logo {
    order: 1;
  }

  .logo img {
    height: 45px;
    margin-left: 20px;
    padding: -20px 0;
  }

  /* Home page mobile fixes */
  #everything-holder {
    padding: 10px;
  }

  #main-contentHOME {
    margin: 85px 5px 120px 5px;
    padding: 15px 10px;
    height: 730px;
    min-height: 300px;
  }

  #main-contentHOME img {
    margin-top: 0;
    width: 700px;
    height: 700px;
  }

  #HomeTitleCont {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 90%;
    max-width: 300px;
    height: auto;
    padding: 20px;
    margin: 20px auto;
  }

  .Main-Title {
    font-size: 32px;
    letter-spacing: 8px;
    line-height: 40px;
    text-align: center;
  }

  /* Rot Diary mobile fixes */
  .two-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .two-imgs img {
    width: 80%;
    height: auto;
  }

  .comic-text {
    font-size: 18px;
    color: #333;
    margin: 50px 20px 70px 20px;
    line-height: 1.6;
  }

  .btm-optns {
    padding: 0 5px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .next-text {
    margin: 0px 20px auto;
    justify-self: end;
    cursor: pointer;
  }

  .prev-text {
    margin: 0px 0 auto 20px;
    justify-self: start;
    cursor: pointer;
  }

  .index-list {
    margin: 20px 10px 20px 10px;
    padding: 20px 10px;
  }

  .index-options {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 0;
    gap: 2px;
  }

  /* About Me mobile fixes */
  .about-content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 50px;
  }

  .about-content img {
    width: 400px;
    height: auto;
    max-width: 100%;
    margin-left: 20px;
  }

  .about-content p {
    font-size: 18px;
    margin-right: 50px;
  }
}
